html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(#0ca3fd, #7ffcd0);
}

    body:after {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        background: linear-gradient(#0ca3fd, #7ffcd0);
    }

h1 {
    font-size: 16px;
}

h2 {
    font-size: 16px;
}

#frame {
    width: 640px;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
}

#count {
    font-family: Arial sans-serif;
    font-size: 36px;
    margin: 20px 0px;
}

#hinasuki {
    background: #5a5de6;
    color: #FFF;
    border-bottom-color: #494cd5;
    font-size: 24px;
    margin: 10px;
    padding: 10px 40px;
}

#tweet {
    background: #55acee;
    color: #FFF;
    border-bottom-color: #449bdd;
}

#about {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 4px;
    border-radius: 3px;
    margin: 5px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .button:hover {
        cursor: pointer;
    }

    .button:active {
        -ms-transform: translateY(4px);
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
    }

.strike {
    text-decoration: line-through;
    font-size: 0.5em;
}
