@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=700" />
    <meta name="robots" content="noindex" />
    <title>ひなすきボタンについて</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #frame {
            margin: 10px auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="frame">
        <a href="~/">ひなすきボタンへ戻る</a>
        <h1>ひなすきボタンについて</h1>
        <p>
            ひなすきボタンは、荒木比奈が好きという気持ちをシェアできる全く新しい画期的なWEBサービスです。<br />
        </p>

        <h1>荒木比奈について</h1>
        <p>
            <a href="http://nextpage.wiki.fc2.com/" target="_blank">荒木比奈Wiki</a><br />
            <a href="https://dic.pixiv.net/a/荒木比奈" target="_blank">荒木比奈 (あらきひな)とは【ピクシブ百科事典】</a><br />
            <a href="http://dic.nicovideo.jp/a/荒木比奈" target="_blank">荒木比奈とは (アラキヒナとは) [単語記事] - ニコニコ大百科</a><br />
        </p>

        <h1>更新履歴</h1>
        <p>
            <h2>2018-11-03 ver.2.2</h2>
            HTTPS化に向けた内部調整。<br />

            <h2>2018-05-20 ver.2.1</h2>
            不具合を修正。<br />

            <h2>2018-05-20 ver.2.0</h2>
            リアルタイム性を向上。<br />

            <h2>2018-04-30 ver.1.1.1</h2>
            内部処理を変更。<br />

            <h2>2018-04-30 ver.1.1</h2>
            再起動時の演出を強化。<br />
            iOSのSafariでひなすきボタンが連打出来ない不具合を修正。<br />

            <h2>2018-04-16 ver.1.0</h2>
            正式リリース。

            <h2>2018-04-12 ver.0.3β</h2>
            ひなすき値の更新演出を強化。

            <h2>2018-04-10 ver.0.2β</h2>
            スマートフォンによる表示を改善。

            <h2>2018-04-09 ver.0.1β</h2>
            荒木比奈の20歳の誕生日を記念して公開。
        </p>

        <h1>謝辞</h1>
        <p>
            元ネタ: <a href="http://nyanpass.com/" target="_blank">にゃんぱすーボタン</a><br />
        </p>

        <p>
            ひなすきボタンは、以下のOSSを使用して作成されました。<br />
            <ul>
                <li><a href="https://github.com/aspnet/Home" target="_blank">ASP.NET Core</a>(Apache License, Version 2.0)</li>
                <li><a href="https://github.com/StackExchange/Dapper" target="_blank">Dapper</a>(Apache License, Version 2.0)</li>
                <li><a href="https://github.com/vuejs/vue" target="_blank">vue.js</a>(MIT License)</li>
            </ul>
        </p>

        <p>
            ひなすきボタンは、以下のサービスを使用して作成されていません。<br />
            <ul>
                <li><a href="https://buttons.uhyo.space/" target="_blank">押すと数が増えるボタンを作るサービス</a></li>
            </ul>
            こちらも全く新しい画期的なWebサービスですのでよろしかったらぜひ。
        </p>

        <h1>作成者</h1>
        <p>
            <a href="https://twitter.com/100poisha" target="_blank">ざんねん</a>
        </p>

        <h1>ソースコード</h1>
        <p>
            <a href="https://github.com/100poisha/Hinasuki" target="_blank">github</a>
        </p>
    </div>
</body>
</html>
